<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>添加员工信息</title>
  <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/style/employee.css">
  <link rel="stylesheet" type="text/css" href="/style/calendar.css">
</head>

<body>
  <form class="ui form container employee" autocomplete="off" onkeydown="if(event.keyCode==13)return false;">
    <table class="ui table  selectable celled structured fixed unstackable" style="margin: 0px;">
      <tbody>
        <tr>
          <td class="two wide cell-name">姓名<i style="color:red; font-size: 16px;">*</i></td>
          <td class="four wide cell-name">
            <div class="ui input transparent">
              <input type="text" name="name" id="name">
            </div>
          </td>
          <td class="two wide cell-sex">性别<i style="color:red; font-size: 16px;">*</i></td>
          <td class="four wide cell-sex">
            <div class="inline field">
              <span></span>
              <input type="radio" name="sex" value="男" checked>
              <label style="display:inline-block;margin-right:20px;">男</label>
              <input type="radio" name="sex" value="女">
              <label>女</label>
            </div>
          </td>
          <td class="two wide cell-protrait" rowspan="5" id="portrait">
            <input type="file" name="headportrait" id="headportrait" name="portrait" />
            <label for="headportrait">上传图片</label>
            <img alt="">
          </td>
        </tr>
        <tr>
          <td class="cell-nation">民族<i style="color:red; font-size: 16px;">*</i></td>
          <td class="four wide cell-nation">
            <div class="ui input transparent">
              <input type="text" name="nation" id="nation">
            </div>
          </td>
          <td class="cell-birthday">出生日期<i style="color:red; font-size: 16px;">*</i></td>
          <td class="four wide cell-birthday" style="overflow:visible">
            <div class="ui calendar date-picker">
              <div class="ui input left icon  input transparent">
                <i class="calendar icon"></i>
                <input type="text" name="birthday">
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="cell-hometown">籍贯<i style="color:red; font-size: 16px;">*</i></td>
          <td class="four wide cell-hometown">
            <div class="ui input transparent">
              <input type="text" name="hometown" id="hometown">
            </div>
          </td>
          <td class="cell-education">学历<i style="color:red; font-size: 16px;">*</i></td>
          <td class="four wide cell-education">
            <!-- <div class="ui input transparent">
              <input type="text" name="education">
            </div> -->
            <div>
              <select style="padding: 0" id="education">
                <option value="初中">初中</option>
                <option value="高中">高中</option>
                <option value="中专">中专</option>
                <option value="大专">大专</option>
                <option value="本科">本科</option>
                <option value="硕士研究生">硕士研究生</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td class="cell-birthplace">出生地<i style="color:red; font-size: 16px;">*</i></td>
          <td class="four wide cell-birthplace">
            <div class="ui input transparent">
              <input type="text" name="birthplace" id="birthplace">
            </div>
          </td>
          <td class="cell-degree">学位</td>
          <td class="four wide cell-degree">
            <div class="ui input transparent">
              <input type="text" name="degree" id="degree">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="ui table  selectable celled structured fixed unstackable" style="margin: 0px;">
      <tbody>
        <tr>
          <td class="two wide cell-health">健康状况<i style="color:red; font-size: 16px;">*</i></td>
          <td class="four wide cell-health">
            <div class="ui input transparent">
              <input type="text" name="health" id="health">
            </div>
          </td>
          <td class="two wide cell-school">毕业院校<i style="color:red; font-size: 16px;">*</i></td>
          <td class="six wide  cell-school" colspan="2">
            <div class="ui input transparent">
              <input type="text" name="school" id="school">
            </div>
          </td>
        </tr>
        <tr>
          <td class="two wide  cell-politicalStatus">政治面貌<i style="color:red; font-size: 16px;">*</i></td>
          <td class="four wide cell-politicalStatus">
            <div>
              <select style="padding: 0" id="politicalStatus">
                <option value="群众">群众</option>
                <option value="共青团员">共青团员</option>
                <option value="预备党员">预备党员</option>
                <option value="党员">党员</option>
                <option value="民主党派成员">民主党派成员</option>
              </select>
            </div>
          </td>
          <td class="two wide cell-idNum">身份证号<i style="color:red; font-size: 16px;">*</i></td>
          <td class="six wide cell-idNum" colspan="2">
            <div class="ui input transparent">
              <input type="text" name="idNum" id="idNum">
            </div>
          </td>
        </tr>
        <tr>
          <td class="cell-phone">联系电话<i style="color:red; font-size: 16px;">*</i></td>
          <td class="four wide cell-phone">
            <div class="ui input transparent">
              <input type="text" name="phone" id="nation">
            </div>
          </td>
          <td class="cell-address">家庭住址<i style="color:red; font-size: 16px;">*</i></td>
          <td class="six wide cell-address" colspan="2">
            <div class="ui input transparent">
              <input type="text" name="address" id="address">
            </div>
          </td>
        </tr>
        <tr>
          <td class="two wide">职务</td>
          <td class="four wide">
            <div class="ui input transparent">
              <input type="text" name="job" id="job">
            </div>
          </td>
          <td class="two wide" rowspan="3">薪资情况</td>
          <td class="two wide">岗位标准</td>
          <td class="four wide">
            <div class="ui input transparent">
              <input type="text" name="postLevel" id="postLevel">
            </div>
          </td>
        </tr>
        <tr>
          <td class="two wide">部门</td>
          <td class="four wide">
            <div class="ui input transparent">
              <input type="text" name="department" id="department">
            </div>
          </td>
          <td class="two wide">岗位系数</td>
          <td class="four wide">
            <div class="ui input transparent">
              <input type="text" name="postRatio" id="postRatio">
            </div>
          </td>
        </tr>
        <tr>
          <td class="two wide  cell-workdate">参加工作时间<i style="color:red; font-size: 16px;">*</i></td>
          <td class="four wide  cell-workdate" style="overflow:visible">
            <div class="ui calendar date-picker">
              <div class="ui input left icon  input transparent">
                <i class="calendar icon"></i>
                <input type="text" name="birthday">
              </div>
            </div>
          </td>
          <td class="two wide">岗位工资</td>
          <td class="four wide">
            <div class="ui input transparent">
              <input type="text" name="postSalary" id="postSalary">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="ui table  selectable celled structured fixed unstackable" style="margin: 0px; border-top: 0px;">
      <tbody>
        <tr>
          <td class="four wide">何年何月何处参加工作</td>
          <td>
            <div class="field">
              <textarea rows="3" id="startwork"></textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td class="four wide">何年何月何人介绍加入中国共产党，何时转正</td>
          <td>
            <div class="field">
              <textarea rows="3" id="startCPC"></textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td class="four wide">何年何月加入中国共产主义青年团</td>
          <td>
            <div class="field">
              <textarea rows="3" id="startCCYL"></textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td class="four wide">何年何月何人介绍加入何民主党派，任何职务</td>
          <td>
            <div class="field">
              <textarea rows="3" id="startCDP"></textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td class="four wide">历次何时经由何部门审批通过何专业技术职务任职资格及现所聘专业技术职务</td>
          <td>
            <div class="field">
              <textarea rows="3" id="techpost"></textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td class="four wide">何时经由何部门审批通过何专业技术工种、何技术等级资格及现所聘专业技术工种等级职务</td>
          <td>
            <div class="field">
              <textarea rows="3" id="techlevel"></textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td class="four wide">何年何月何机关授予何军种、警衔</td>
          <td>
            <div class="field">
              <textarea rows="3" id="police"></textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td class="four wide">何年何月至何年何月参加何单位举办的政治理论或业务培训（包括各级党校培训或学习）</td>
          <td>
            <div class="field">
              <textarea rows="5" id="train"></textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td class="four wide">有何业务技术专长、重要发明创造、科研成果、著作、译著</td>
          <td>
            <div class="field">
              <textarea rows="3" id="create"></textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td class="four wide">何时何处参加何社会团体，任何职务</td>
          <td>
            <div class="field">
              <textarea rows="3" id="socialgroup"></textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td class="four wide">有何宗教信仰</td>
          <td>
            <div class="field">
              <textarea rows="3" id="religion"></textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td class="four wide">何年何月出国（境）及参加重大国际性活动的情况</td>
          <td>
            <div class="field">
              <textarea rows="3" id="internation"></textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td class="four wide">掌握何种外语或少数民族语言及其他技能情况</td>
          <td>
            <div class="field">
              <textarea rows="3" id="language"></textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td class="four wide">何时何处何原因受过何种奖励</td>
          <td>
            <div class="field">
              <textarea rows="3" id="award"></textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td class="four wide">何时何处何原因受过何种处分</td>
          <td>
            <div class="field">
              <textarea rows="3" id="punish"></textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td class="four wide">历史上参加过何种反动组织，任何职务，有何结论</td>
          <td>
            <div class="field">
              <textarea rows="3" id="negative"></textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td class="four wide">“文化大革命”中犯有何种错误，组织意见如何</td>
          <td>
            <div class="field">
              <textarea rows="3" id="revolution"></textarea>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="ui table  selectable celled structured fixed unstackable study" style="margin: 0px; border-top: 0px;">
      <thead>
        <tr>
          <th colspan="5">
            <h2 style="text-align: center">学习简历</h2>
          </th>
        </tr>
      </thead>
      <tbody id="study">
        <tr>
          <td>起止年月</td>
          <td>院校及系、专业</td>
          <td>毕（结、肄）业</td>
          <td>学位</td>
          <td>证明人</td>
        </tr>
        <tr class="detail">
          <td style="overflow:visible">
            <div class="ui input transparent">
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="study-start">
                </div>
              </div>
              <span>至</span>
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="study-end">
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-school">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-state">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-degree">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-evidence">
            </div>
          </td>
        </tr>
        <tr class="detail">
          <td style="overflow:visible">
            <div class="ui input transparent">
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="study-start">
                </div>
              </div>
              <span>至</span>
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="study-end">
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-school">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-state">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-degree">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-evidence">
            </div>
          </td>
        </tr>
        <tr class="detail">
          <td style="overflow:visible">
            <div class="ui input transparent">
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="study-start">
                </div>
              </div>
              <span>至</span>
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="study-end">
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-school">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-state">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-degree">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-evidence">
            </div>
          </td>
        </tr>
        <tr class="detail">
          <td style="overflow:visible">
            <div class="ui input transparent">
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="study-start">
                </div>
              </div>
              <span>至</span>
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="study-end">
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-school">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-state">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-degree">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-evidence">
            </div>
          </td>
        </tr>
        <tr class="detail">
          <td style="overflow:visible">
            <div class="ui input transparent">
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="study-start">
                </div>
              </div>
              <span>至</span>
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="study-end">
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-school">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-state">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-degree">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="study-evidence">
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="5" style="text-align: center;" id="add-study"><i class="add circle icon"></i></td>
        </tr>
      </tbody>
    </table>
    <table class="ui table  selectable celled structured fixed unstackable work" style="margin: 0px; border-top: 0px;">
      <thead>
        <tr>
          <th colspan="3">
            <h2 style="text-align: center">工作经历</h2>
          </th>
        </tr>
      </thead>
      <tbody id="work">
        <tr>
          <td>起止年月</td>
          <td>单位、部门及职务</td>
          <td>证明人</td>
        </tr>
        <tr class="detail">
          <td style="overflow:visible">
            <div class="ui input transparent">
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="work-start">
                </div>
              </div>
              <span>至</span>
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="work-end">
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="work-department">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="work-evidence">
            </div>
          </td>
        </tr>
        <tr class="detail">
          <td style="overflow:visible">
            <div class="ui input transparent">
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="work-start">
                </div>
              </div>
              <span>至</span>
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="work-end">
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="work-department">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="work-evidence">
            </div>
          </td>
        </tr>
        <tr class="detail">
          <td style="overflow:visible">
            <div class="ui input transparent">
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="work-start">
                </div>
              </div>
              <span>至</span>
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="work-end">
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="work-department">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="work-evidence">
            </div>
          </td>
        </tr>
        <tr class="detail">
          <td style="overflow:visible">
            <div class="ui input transparent">
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="work-start">
                </div>
              </div>
              <span>至</span>
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="work-end">
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="work-department">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="work-evidence">
            </div>
          </td>
        </tr>
        <tr class="detail">
          <td style="overflow:visible">
            <div class="ui input transparent">
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="work-start">
                </div>
              </div>
              <span>至</span>
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="work-end">
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="work-department">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="work-evidence">
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="text-align: center;" id="add-work"><i class="add circle icon"></i></td>
        </tr>
      </tbody>
    </table>
    <table class="ui table  selectable celled structured fixed unstackable politics" style="margin: 0px; border-top: 0px;">
      <thead>
        <tr>
          <th colspan="3">
            <h2 style="text-align: center">当选人民代表大会、政治协商会议、中国共产党及民主党派、群众团体代表大会代表、委员等情况</h2>
          </th>
        </tr>
      </thead>
      <tbody id="politics">
        <tr>
          <td>何年何月</td>
          <td>会议名称</td>
          <td>身份及职务</td>
        </tr>
        <tr class="detail">
          <td style="overflow:visible">
            <div class="ui input transparent">
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="work-start">
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="politics-meeting">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="politics-duty">
            </div>
          </td>
        </tr>
        <tr class="detail">
          <td style="overflow:visible">
            <div class="ui input transparent">
              <div class="ui calendar month-picker">
                <div class="ui input left input transparent">
                  <input type="text" class="work-start">
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="politics-meeting">
            </div>
          </td>
          <td>
            <div class="ui input transparent">
              <input type="text" class="politics-duty">
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="text-align: center;" id="add-politics"><i class="add circle icon"></i></td>
        </tr>
      </tbody>
    </table>
    <table class="ui table  selectable celled structured fixed unstackable family" style="margin: 0px; border-top: 0px;">
      <thead>
        <tr>
          <th colspan="8">
            <h2 style="text-align: center">家庭情况</h2>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3" class="cell-marriage">本人婚姻状况</td>
          <td colspan="5" class="cell-marriage">
            <div class="ui input transparent">
              <input type="text" id="marriage" name="marriage">
            </div>
          </td>
        </tr>
        <tr>
          <td rowspan="12">家庭主要成员情况</td>
          <td rowspan="6">配偶</td>
          <td>姓名</td>
          <td>
            <div class="ui input transparent">
              <input type="text" id="mate-name">
            </div>
          </td>
          <td>出生日期</td>
          <td style="overflow:visible">
            <!-- <div class="ui input transparent">
              <input type="text" id="mate-birthday">
            </div> -->
            <div class="ui calendar date-picker" id="mate-birthday">
              <div class="ui input left input transparent">
                <input type="text" name="birthday">
              </div>
            </div>
          </td>
          <td>民族</td>
          <td>
            <div class="ui input transparent">
              <input type="text" id="mate-nation">
            </div>
          </td>
        </tr>
        <tr>
          <td>籍贯</td>
          <td>
            <div class="ui input transparent">
              <input type="text" id="mate-hometown">
            </div>
          </td>
          <td>参加工作时间</td>
          <td>
            <div class="ui input transparent">
              <input type="text" id="mate-startwork">
            </div>
          </td>
          <td>政治面貌</td>
          <td>
            <div class="ui input transparent">
              <input type="text" id="mate-politicalStatus">
            </div>
          </td>
        </tr>
        <tr>
          <td>学历</td>
          <td colspan="3">
            <div class="ui input transparent">
              <input type="text" id="mate-education">
            </div>
          </td>
          <td rowspan="2">工资情况</td>
          <td rowspan="2">
            <div class="ui input transparent">
              <input type="text" id="mate-salary">
            </div>
          </td>
        </tr>
        <tr>
          <td>专业技术职务</td>
          <td colspan="3">
            <div class="ui input transparent">
              <input type="text" id="mate-techjob">
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">毕业院校及专业</td>
          <td colspan="4">
            <div class="ui input transparent">
              <input type="text" id="mate-school">
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">工作单位及职务</td>
          <td colspan="4">
            <div class="ui input transparent">
              <input type="text" id="mate-unit">
            </div>
          </td>
        </tr>
        <tr>
          <td rowspan="6">其他成员</td>
          <td>关系</td>
          <td>姓名</td>
          <td>出生日期</td>
          <td>政治面貌</td>
          <td colspan="2">工作单位及职务</td>
        </tr>
        <tr class="family-member">
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-rela">
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-name">
            </div>
          </td>
          <!-- <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-birthday">
            </div>
          </td> -->
          <td colspan="1" style="overflow:visible">
            <div class="ui calendar date-picker">
              <div class="ui input left input transparent">
                <input type="text" class="family-birthday">
              </div>
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-political">
            </div>
          </td>
          <td colspan="2">
            <div class="ui input transparent">
              <input type="text" class="family-job">
            </div>
          </td>
        </tr>
        <tr class="family-member">
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-rela">
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-name">
            </div>
          </td>
          <!-- <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-birthday">
            </div>
          </td> -->
          <td colspan="1" style="overflow:visible">
            <div class="ui calendar date-picker">
              <div class="ui input left input transparent">
                <input type="text" class="family-birthday">
              </div>
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-political">
            </div>
          </td>
          <td colspan="2">
            <div class="ui input transparent">
              <input type="text" class="family-job">
            </div>
          </td>
        </tr>
        <tr class="family-member">
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-rela">
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-name">
            </div>
          </td>
          <!-- <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-birthday">
            </div>
          </td> -->
          <td colspan="1" style="overflow:visible">
            <div class="ui calendar date-picker">
              <div class="ui input left input transparent">
                <input type="text" class="family-birthday">
              </div>
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-political">
            </div>
          </td>
          <td colspan="2">
            <div class="ui input transparent">
              <input type="text" class="family-job">
            </div>
          </td>
        </tr>
        <tr class="family-member">
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-rela">
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-name">
            </div>
          </td>
          <!-- <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-birthday">
            </div>
          </td> -->
          <td colspan="1" style="overflow:visible">
            <div class="ui calendar date-picker">
              <div class="ui input left input transparent">
                <input type="text" class="family-birthday">
              </div>
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-political">
            </div>
          </td>
          <td colspan="2">
            <div class="ui input transparent">
              <input type="text" class="family-job">
            </div>
          </td>
        </tr>
        <tr class="family-member">
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-rela">
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-name">
            </div>
          </td>
          <!-- <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-birthday">
            </div>
          </td> -->
          <td colspan="1" style="overflow:visible">
            <div class="ui calendar date-picker">
              <div class="ui input left input transparent">
                <input type="text" class="family-birthday">
              </div>
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="family-political">
            </div>
          </td>
          <td colspan="2">
            <div class="ui input transparent">
              <input type="text" class="family-job">
            </div>
          </td>
        </tr>

        <tr class="social-relation">
          <td rowspan="5" colspan="2">国内外主要社会关系情况</td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-rela">
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-name">
            </div>
          </td>
          <!-- <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-birthday">
            </div>
          </td> -->
          <td colspan="1" style="overflow:visible">
            <div class="ui calendar date-picker">
              <div class="ui input left input transparent">
                <input type="text" class="social-birthday">
              </div>
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-political">
            </div>
          </td>
          <td colspan="2">
            <div class="ui input transparent">
              <input type="text" class="social-job">
            </div>
          </td>
        </tr>
        <tr class="social-relation">
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-rela">
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-name">
            </div>
          </td>
          <!-- <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-birthday">
            </div>
          </td> -->
          <td colspan="1" style="overflow:visible">
            <div class="ui calendar date-picker">
              <div class="ui input left input transparent">
                <input type="text" class="social-birthday">
              </div>
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-political">
            </div>
          </td>
          <td colspan="2">
            <div class="ui input transparent">
              <input type="text" class="social-job">
            </div>
          </td>
        </tr>
        <tr class="social-relation">
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-rela">
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-name">
            </div>
          </td>
          <!-- <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-birthday">
            </div>
          </td> -->
          <td colspan="1" style="overflow:visible">
            <div class="ui calendar date-picker">
              <div class="ui input left input transparent">
                <input type="text" class="social-birthday">
              </div>
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-political">
            </div>
          </td>
          <td colspan="2">
            <div class="ui input transparent">
              <input type="text" class="social-job">
            </div>
          </td>
        </tr>
        <tr class="social-relation">
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-rela">
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-name">
            </div>
          </td>
          <!-- <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-birthday">
            </div>
          </td> -->
          <td colspan="1" style="overflow:visible">
            <div class="ui calendar date-picker">
              <div class="ui input left input transparent">
                <input type="text" class="social-birthday">
              </div>
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-political">
            </div>
          </td>
          <td colspan="2">
            <div class="ui input transparent">
              <input type="text" class="social-job">
            </div>
          </td>
        </tr>
        <tr class="social-relation">
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-rela">
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-name">
            </div>
          </td>
          <!-- <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-birthday">
            </div>
          </td> -->
          <td colspan="1" style="overflow:visible">
            <div class="ui calendar date-picker">
              <div class="ui input left input transparent">
                <input type="text" class="social-birthday">
              </div>
            </div>
          </td>
          <td colspan="1">
            <div class="ui input transparent">
              <input type="text" class="social-political">
            </div>
          </td>
          <td colspan="2">
            <div class="ui input transparent">
              <input type="text" class="social-job">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <button class="ui primary button" id="btn-save">保存员工信息</button>
  <script src="/jquery-3.3.1.min.js"></script>
  <script src="/semantic/semantic.min.js"></script>
  <script src="/scripts/calendar.js"></script>
  <script src="/scripts/employee.js"></script>
</body>

</html>