.header {
  width: 80%;
  min-width: 1000px;
  height: 10vh;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
  position: relative;
}

.header .header-logo{
  height: 8vh;
  margin: 1vh 0 1vh 0;
  float: left;
}

.header-logo img {
  height: 8vh;
}

.header .header-about {
  height: 6vh;
  line-height: 6vh;
  float: left;
  font-size: 18px;
  color: #02489d;
  margin: 2vh 1vw;
  padding-left: 1vw;
  border-left: 1px solid  #02489d;
}